

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.jumbotron{
background-image: url("../image/homepage_banner.jpg");
color: black;
margin-bottom: 0px;
height: 350px;
background-repeat: no-repeat;
-webkit-background-size: cover;
background-size: cover;   
};



